<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MMC2BRPW');</script>
    <!-- End Google Tag Manager -->

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<link rel="icon" type="image/png" href="/GyroCam/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/GyroCam/favicon/favicon.svg" />
<link rel="shortcut icon" href="/GyroCam/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/GyroCam/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="GyroCam" />
<link rel="manifest" href="/GyroCam/favicon/site.webmanifest" />
<title>GyroCam</title>
<link rel="stylesheet" href="{{ '/GyroCam/assets/css/custom.css' | relative_url }}">

<!-- end custom head snippets -->
